<section class="article__sidebar__block">
  <div class="article__sidebar__header">Docs</div>

  <div class="tree__sub-heading accordion">Using</div>
  <ul class="tree__list accordion-panel">
    {% assign using_docs = site.docs | where: 'grouped_by', 'using' %}

    {% for doc in using_docs%}
      <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>

  <div class="tree__sub-heading accordion">Releasing</div>
  <ul class="tree__list accordion-panel">
    {% assign releasing_docs = site.docs | where: 'grouped_by', 'releasing' %}

    {% for doc in releasing_docs%}
      <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</section>
