  <footer id="footer" class="page-section--padding footer__wrapper">
    <div class="dc-container dc-container--limited">
      <div class="footer">
        <div class="footer__column">
          <div class="footer__title">
            <h2 class="dc-h2">Organisations</h2>
          </div>
          <ul class="footer__list">
            <li><a href="https://github.com/zalando" target="_blank">Zalando</a></li>
            <li><a href="https://github.com/zalando-incubator" target="_blank">Zalando Incubator</a></li>
            <li><a href="https://github.com/zalandoresearch" target="_blank">Zalando Research</a></li>
            <li><a href="https://github.com/zalando-nakadi" target="_blank">Nakadi</a></li>
            <li><a href="https://github.com/zalando-stups" target="_blank">STUPS</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="footer__title">
            <h2 class="dc-h2">Outreach</h2>
          </div>
          <ul class="footer__list">
            <li><a href="https://www.cncf.io/" target="_blank">Cloud Native Computing Foundation</a></li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="footer__title">
            <h2 class="dc-h2">Connect with us</h2>
          </div>
          <ul class="footer__list footer__list--social">
            <li>
              <span class="footer__icon">
                <object data="{{ '/assets/svg/mail-alt.svg' | relative_url }}" type="image/svg+xml"></object>
              </span>
              <a href="mailto:{{site.email}}">
                {{site.email}}
              </a>
            </li>
            <li>
              <span class="footer__icon">
                <object data="{{ '/assets/svg/twitter.svg' | relative_url }}" type="image/svg+xml"></object>
              </span>
              <a href="https://twitter.com/{{site.twitter}}" target="_blank">
                @{{site.twitter}}
              </a>
            </li>
            <li>
              <span class="footer__icon">
                <object data="{{ '/assets/svg/rss.svg' | relative_url }}" type="image/svg+xml"></object>
              </span>
              <a href="https://jobs.zalando.com/tech/blog/?tags=open%20source" target="_blank">
                Blog
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <div class="footer__title">
            <h2 class="dc-h2">Links</h2>
          </div>
          <ul class="footer__list">
            <li><a href="/projects">Projects</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/#os-goals">Purpose</a></li>
            <li><a href="/#os-jobs">Jobs</a></li>
            <li><a href="/#os-team">Team</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__stamp">
      <div>
        <a href="{{site.url}}/dress-code/" target="_blank">
          Built using
          <img class="footer__icon" src="{{ '/assets/svg/logo.svg' | relative_url }}" />
          Dress Code
        </a>
      </div>
    </div>
  </footer>
