<header id="header" class="page-section--padding">
  <div class="dc-container dc-container--limited">
    <ul class="dc-tab header">

      <li class="dc-tab__element dc-tab__element--header header__logo">
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/assets/svg/logo.svg' | relative_url }}" />
        </a>
      </li>
      
      <li class="dc-tab__element {% if page.path == '_pages/projects.md' %}dc-tab__element--active {% endif %}"><a href="/projects">Projects</a></li>
      <li class="dc-tab__element {% if page.collection == "docs" %}dc-tab__element--active{% endif %}"><a href="/docs">Docs</a></li>
      
      <li class="dc-tab__element {% if page.collection == "posts" or page.path == 'blog/index.html'  %}dc-tab__element--active{% endif %}"><a href="/blog">Blog</a></li>
      <li class="dc-tab__element"><a href="/#os-goals">Purpose</a></li>
      <li class="dc-tab__element"><a href="/#os-jobs">Jobs</a></li>

      <li class="dc-tab__element"><a href="{{ '/index.html#os-team' | relative_url }}">Team</a></li>
    </ul>
  </div>
</header>
