<header id="header" class="page-section--padding">
  <div class="dc-container dc-container--limited">
    <ul class="dc-tab header">
      <li class="dc-tab__element dc-tab__element--header header__logo">
        <a href="/">
          <img src="/assets/svg/logo.svg" />
        </a>
      </li>
      {% if include.title == "Home" %}
      <li class="dc-tab__element"><a href="#os-projects">Projects</a></li>
      {% elsif include.title == "Projects" %}
      <li class="dc-tab__element dc-tab__element--active"><a href="/#os-projects">Projects</a></li>
      {% else %}
      <li class="dc-tab__element dc-tab__element"><a href="/#os-projects">Projects</a></li>
      {% endif %}
      <li class="dc-tab__element"><a href="/#os-goals">Purpose</a></li>
      <li class="dc-tab__element"><a href="/#os-jobs">Jobs</a></li>
      {% if page.layout == "article" %}
      <li class="dc-tab__element dc-tab__element--active"><a href="/#os-articles">Blog</a></li>
      {% else %}
      <li class="dc-tab__element"><a href="/#os-articles">Blog</a></li>
      {% endif %}
      {% if include.title == "Docs" or page.layout == 'documentation' %}
      <!-- <li class="dc-tab__element dc-tab__element--active"><a href="/docs">Docs</a></li> -->
      {% else %}
      <!--<li class="dc-tab__element"><a href="/docs">Docs</a></li>-->
      {% endif %}
      <li class="dc-tab__element"><a href="/#os-team">Team</a></li>
    </ul>
  </div>
</header>
