<section class="dc--text-center page-section page-section--padding page-section--background-secondary" id="os-articles">
  <div class="dc-container dc-container--limited">
    <h1 class="dc-h1 page-section__header">Blog</h1>
      <div class="blogs">
        {% assign imgroot = "/assets/img/banners/" %}

        {% for article in site.posts limit:4 %}
          <div class="blog">
            <div class="blog__image">
              <a href="{{ article.url }}">
                <img class="blog-box__image" src="{{ imgroot | relative_url }}{{ article.banner.image }}" />
              </a>
            </div>
            <div class="blog__content">
              <div class="dc-h2">
                <a href="{{article.url}}">
                  {{article.title}}
                </a>
              </div>
              <div class="dc-h3">by {{article.author}}, {{article.date | date_to_long_string}}</div>
            </div>
          </div>
        {% endfor %}

        <div class="blogs__footer">
          <a class="dc-btn dc-btn--primary" href="{{ "/blog" | relative_url }}">All Posts</a>
        </div>
      </div>
    </div>
</section>
