<div class="article__sidebar__block article__sidebar__block--border-bottom share-links">
    <div class="article__sidebar__header">Share</div>

    <div class="share-icons">
      <a class="share-icon" href="https://twitter.com/intent/tweet?text={{page.title}}&url={{site.url}}{{page.url}}&via={{site.twitter}}&related={{site.twitter}}" rel="nofollow" target="_blank" title="Share on Twitter">
        <img src="/assets/svg/twitter.svg" />
      </a>
      <a class="share-icon" href="https://facebook.com/sharer.php?u={{site.url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Facebook">
        <img src="/assets/svg/facebook.svg" />
      </a>
      <a class="share-icon" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Google+">
        <img src="/assets/svg/gplus.svg" />
      </a>
      <a class="share-icon" href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{page.title}}&summary={{page.description}}&source={{site.url}}" target="_blank">
        <img src="/assets/svg/linkedin.svg" />
      </a>
      <a class="share-icon" href="http://www.reddit.com/submit?url={{site.url}}{page.url}}&title={{page.title}}" target="_blank">
        <img src="/assets/svg/reddit-alien.svg" />
      </a>
    </div>
</div>
