.article {
  display: flex;
  background-color: #fff;
}

.article__content {
  flex-grow: 2;
  margin-right: 4rem;
}

.article__content h1 {
  font-size: 2.7rem;
  line-height: 3.6rem;
}

.article__content h1,
.article__content p,
.article__content ul {
  margin-top: 0;
  margin-bottom: 2rem;
  color: var(--primary-font-color);
}

.article__content li {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: var(--primary-font-color);
}

.article__content li,
.tree__list li {
  padding-left: 20px;
  background-image: url('/assets/img/zalando-bullet.png');
  background-position: 0 6px;
  background-repeat: no-repeat;
  background-size: 8px 8px;
}

.article a {
  color: var(--zalando-orange);
}

.article a:hover {
  box-shadow: inset 0 -2px 0 0 var(--primary-font-color);
}

.article__sidebar {
  min-width: 300px;
  border: 1px solid var(--background-color-secondary);
}

.article__sidebar__header {
  position: relative;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.article__sidebar__header:after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 4px;
  background: var(--page-section-header-underline);
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
}

.article__sidebar__block {
  padding: 2rem 4rem;
}

.article__sidebar__block--border-bottom {
  border-bottom: 1px solid var(--background-color-secondary);
  margin-bottom: -4px;
}

.share-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-flow: nowrap;
  height: 3.6rem;
}

.share-icon {
  background-color: var(--background-color-secondary);
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-icon img {
  display: inline-block;
  width: 20px;
  height: 20px;
}

a.share-icon:hover {
  box-shadow: inset 0 -2px 0 0 var(--zalando-orange);
}

.accordion {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.2s;
  background-image: url('/assets/svg/down-open.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: right;
}

.accordion--active {
  transition: 0.2s;
  background-image: url('/assets/svg/up-open.svg');
}

.accordion:hover {
}

.accordion-panel {
  padding: 0 4rem;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.tree__heading {
  font-size: 2rem;
}

.tree__list + .tree__heading {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid var(--background-color-secondary);
}

.tree__sub-heading {
  font-weight: bold;
}

.tree__list {
  margin: 0;
}

@media (max-width: 1100px) {
  .article {
    flex-flow: wrap;
  }

  .article__content {
    flex-grow: 1;
    margin-right: 0;
  }

  .article__sidebar {
    flex-grow: 1;
    margin-top: 4rem;
  }
}
