.article {
  display: flex;
  background-color: #f1f1f1;
}

.article__content {
  flex-grow: 2;
  margin-right: 4rem;
  padding: var(--article-content-padding);
}

.article__content h1 {
  font-size: 2.7rem;
  line-height: 3.6rem;
}

.article__content h1,
.article__content p,
.article__content ul {
  margin-top: 0;
  margin-bottom: 2rem;
  color: var(--primary-font-color);
}

.article__content li {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 20px;
  background-image: url('/assets/img/zalando-bullet.png');
  background-position: 0 6px;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  color: var(--primary-font-color);
}

.article__content a {
  color: var(--zalando-orange);
}

.article__content a:hover {
  box-shadow: inset 0 -2px 0 0 var(--primary-font-color);
}

.article__sidebar {
  min-width: 300px;
  padding-top: var(--article-content-padding);
}

.share-links {
  margin-bottom: 2rem;
}

.share-icon {
  margin-right: 2rem;
}

.share-icon img {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.share-icon:hover {
  box-shadow: inset 0 -2px 0 0 var(--zalando-orange);
}

.history-links h2,
.history-links h3,
.history-links ul {
  margin: 0;
}

.accordion {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.2s;
  background-image: url('/assets/svg/down-open.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right;
}

.accordion--active {
  transition: 0.2s;
  background-image: url('/assets/svg/up-open.svg');
}

.accordion:hover {
  color: var(--zalando-orange);
}

.accordion-panel {
  padding: 0 4rem;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media (max-width: 1100px) {
  .article {
    flex-flow: wrap;
  }

  .article__content {
    flex-grow: 1;
    margin-right: 0;
  }

  .article__sidebar {
    flex-grow: 1;
    margin-top: 4rem;
  }
}
