:root {
  --page-section-header-underline: #ff8e25;
  --page-section-border: #f7f7f7;
  --user-icon-background: #66380e;
  --user-icon-size: 60px;
  --user-icon-border-size: 30px;
}

body {
  line-height: 1;
}

.t-header img.t-logo {
  height: 20px
}

.t-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background: #4a4a4a;
  color: #fff;
}

.t-footer .dc-row {
  margin: 0;
}

.page {
  padding: 0 15rem;
  background: #fff;
}

.page-section__wrapper {
  position: relative;
}

.page-section__wrapper-purpose {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/zalando-purpose.jpg);
  background-size: cover;
  opacity: 0.06;
}

.page-section {
  padding: 4rem;
}

.page-section--border-bottom {
  border-bottom: 1px solid var(--page-section-border);
}

.page-section__header {
  position: relative;
}

.page-section__header:after {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 10px;
  background: var(--page-section-header-underline);
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
}

.banner {
  padding: 10rem;
  background: url(../img/zalando-building.jpg);
  background-size: cover;
  color: white;
  font-size: 200%;
  font-weight: 200;
}

.banner__content {
  padding: 3rem;
  background-color: #000;
  opacity: 0.6;
  border-radius: 4px;
}

.statistics,
.projects {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.statistic {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
  margin-top: 20px;
  min-width: 240px;
  max-width: 25%;
}

.statistic:last-child {
  margin-right: 0;
}

.statistic__key {
  display: inline-block;
  margin-left: 10px;
}

.statistic__key,
.statistic__value {
  font-weight: bold;
}

.statistic span:last-child {
  display: inline-block;
  margin-left: auto;
}

.project {
  flex-grow: 1;
  min-width: 280px;
  max-width: calc(33% - 10px);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 10px;
  margin-top: 20px;
}

.project:last-child {
  margin-right: 0;
}

.project.dc-card {
  padding: 0;
}

.project__header {
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
}

.project__header-icon,
.project__header-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.project__header-icon {
  min-width: 110px;
  max-width: 110px;
  color: #fff;
  background-color: #26aafe;
}

.project__header-content {
  flex-grow: 1;
  background-color: #d8d8d8;
  overflow: hidden;
}

.project__header-content-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project__language {
  position: absolute;
  right: 0;
  background-color: #26aafe;
  padding: 4px;
  color: #fff;
}

.project__content {
  padding: 2.4rem;
}

.project__description {
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project__statistics {
  display: flex;
  flex-flow: wrap;
}

.project__statistics span {
  flex-grow: 1;
  font-weight: bold;
}

.goal__icon {
  font-size: 3rem;
}

.user__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--user-icon-size);
  width: var(--user-icon-size);
  margin-bottom: 2.4rem;
  border-radius: var(--user-icon-border-size);
  background-color: var(--user-icon-background);
  color: #fff;
  font-size: 3rem;
}
