---
layout: landing
title: Blog
description: Thoughts From Zalando's Open Source Maintainers
permalink: /blog/
banner:
  image: laptop.jpg
---
{% assign imgroot = "/assets/img/banners/" %}
{% for post in paginator.posts %}
  <div>
    {% if forloop.first %}
    <img src="{{ imgroot }}{{ post.banner.image }}" />
    <h1>{{ post.title }}</h1>
    <p>by {{ post.author }} on {{ post.date | date_to_long_string }}</p>
    <p>
      {{ post.content | markdownify | truncatewords: 40 }}
      <a href="{{ post.url }}">Read More</a>
    </p>
    {% else %}
    <img src="{{ imgroot }}{{ post.banner.image }}" />
    <h2>{{ post.title }}</h2>
    <p>by {{ post.author }} on {{ post.date | date_to_long_string }}</p>
    <p>
      {{ post.content | markdownify | truncatewords: 40 }}
      <a href="{{ post.url }}">Read More</a>
    </p>
    {% endif %}
  </div>
{% endfor %}
