---
layout: default
---
<section class="page-section page-section--padding">
  <div class="dc-container dc-container--limited article">
    <div class="article__content">
      <div class="dc-column__contents dc-column__contents--center">
        {{content}}
      </div>
    </div>
    <div class="article__sidebar">
      <div class="dc-column__contents dc-column__contents--center">
        {% include sharing.html %}
        {% include history.html %}
      </div>
    </div>
  </div>
</section>
