<html>
  <head>
    <script src="{{ 'assets/js/store.js?v=1.1' | relative_url }}" type="text/javascript"></script>
    <script src="{{ '/assets/js/config.js?v=1.1' | relative_url }}" type="text/javascript"></script>
    <script src="{{ '/assets/js/index.js?v=1.1' | relative_url }}" type="text/javascript"></script>

    <script src="{{ '/components/project.js?v=1.1' | relative_url }}" type="text/javascript"></script>
    <script src="{{ '/components/statistic.js?v=1.1' | relative_url }}" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/dress-code@2.4.0/dist/css/dress-code.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/zalando.ico' | relative_url }}">
    <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/article.css' | relative_url }}"" rel="stylesheet">
    <link href="{{ '/assets/css/report.css' | relative_url }}"" rel="stylesheet">

    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:type" content="website" />
    {% if page.title %}
    <meta property="og:title" content="{{site.title}} | {{page.title}}" />
    {% else %}
    <meta property="og:title" content="{{site.title}}" />
    {% endif %}
    {% if page.description %}
    <meta property="og:description" content="{{page.description}}" />
    {% else %}
    <meta property="og:description" content="{{site.description}}" />
    {% endif %}
    {% if page.banner.image %}
    <meta property="og:image" content="{{site.url}}/assets/img/{{page.banner.image}}" />
    {% else %}
    <meta property="og:image" content="{{site.url}}/assets/img/zalando-logo.png" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{site.twitter}}">
    {% if page.title %}
    <meta name="twitter:title" content="{{site.title}} | {{page.title}}">
    {% else %}
    <meta name="twitter:title" content="{{site.title}}">
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{page.description}}">
    {% else %}
    <meta name="twitter:description" content="{{site.description}}">
    {% endif %}
    {% if page.banner.image %}
    <meta name="twitter:image" content="{{site.url}}/assets/img/{{page.banner.image}}">
    {% else %}
    <meta name="twitter:image" content="{{site.url}}/assets/img/zalando-logo.png">
    {% endif %}

    {% if page.title %}
    <title>{{site.title}} | {{page.title}}</title>
    {% else %}
    <title>{{site.title}}</title>
    {% endif %}
  </head>
  <body>
    {% include header.html title=page.title %}

    {% if page.layout != 'documentation' or page.forceBanner == true %}
      {% include banner.html %}
    {% endif %}

    <main>
      {{content}}
    </main>

    {% include footer.html %}

    <script>
      addEventListeners();
    </script>
  </body>
</html>
